<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link href="../static/css/accountMenu.css" th:href="@{/css/accountMenu.css}" rel="stylesheet"/>

    <script th:src="@{/lib/jquery-3.4.1.min.js}" src="../static/lib/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/accountMenu.js}" src="../static/js/accountMenu.js"></script>


</head>
<body>

<div class="content">
    <div class="bank-head" th:include="fragments/logout :: logout"></div>
    <br>
    <h2 th:account-id="${debitAccount.id}" th:text="@{'Account № ' + ${debitAccount.id}}"></h2>
    <br>
    <p>
        <div th:text="@{'Balance: ' + ${debitAccount.balance}}"></div>
    </p>
    <p>
        <a th:href="@{'/accounts/' + ${debitAccount.id} + '/transferToOtherUser'}">Make transfer to other user</a>
    </p>

    <p>
        <a th:href="@{'/accounts/' + ${debitAccount.id} + '/transferToOtherUser'}">Make transfer to my account</a>
    </p>
    <p>
        <a th:href="@{'/accounts/'  + ${debitAccount.id} + '/connectPayroll'}">Connect this account with my payroll</a>
    </p>


    <p class="repay-credit-account">Repay my credit account</p>
    <br>

    <div class="credit_accounts hidden">
        <table>
            <thead>
            <tr>
                <th>Number</th>
                <th>Balance</th>
                <th>Activity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="credAccount : ${creditAccounts}">
                <td th:text="${credAccount.id}"></td>
                <td th:text="${credAccount.currentDept}"></td>
                <td>
                    <a th:href="@{'/accounts/' + ${debitAccount.id} + '/repayCreditAccount/' + ${credAccount.id}}">Choose
                        this account</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <a th:href="@{'/accounts/'}">Go back to accounts list</a>

</div>

</body>
</html>