<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>


</head>
<body>

<div class="content">
    <div class="bank-head" th:include="fragments/logout :: logout"></div>
    <br>
    <h2>Your accounts</h2>
    <br>
    <h4>Debit accounts:</h4>

    <div>
        <table>
            <thead>
            <tr>
                <th>Number</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${debitAccounts}">
                <td th:text="${account.id}"></td>
                <td>
                    <a th:href="@{'/accounts/' + ${account.id}}" th:text="${account.balance}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>
    <span>
        <span>
            Choose one account to make activities with it or
        </span>
        <form class="wc-form wc-middle" action="/accounts/openDebitAccount" method="post">
            <button type="submit" class="btn btn-outline-primary">create new debit account</button>
        </form>
    </span>

    <br>
    <br>


    <h4>Credit accounts:</h4>
    <div>
        <table>
            <thead>
            <tr>
                <th>Number</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${creditAccounts}">
                <td th:text="${account.id}"></td>
                <td th:text="${account.currentDept}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>
    <form class="wc-form wc-middle" action="/accounts/openCreditAccount" method="get">
        <button type="submit" class="btn btn-outline-primary">create new credit account</button>
    </form>

</div>

</body>
</html>