<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>


</head>
<body>

<div class="content">
    <div class="bank-head" th:include="fragments/logout :: logout"></div>
    <br>

    <h2 th:account-id="${debitAccount.id}" th:text="@{'Account № ' + ${debitAccount.id}}"></h2>
    <br>

    <form class="accounts" th:action="@{'/accounts/' + ${debitAccount.id} + '/connectPayroll'}" method="post" th:object="${payrollRequest}">
        <div class="form-group">
            <h2>Connect payroll form</h2>
        </div>

        <div class="form-group">
            <label for="salary">Salary you needed to receive</label>
            <input id="salary" name="salary" class="form-control"/>
        </div>

        <div class="form-group" th:if="${#fields.hasErrors('salary')}">
            Rejected. You can connect only one payroll to any of your accounts. And you have already done it.
        </div>

        <button type="submit" class="btn btn-outline-primary">To connect</button>
    </form>

    <br>
    <br>
    <a th:href="@{'/accounts/'}">Go back to accounts list</a>

</div>

</body>
</html>