<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>


</head>
<body>

<div class="content">
    <div class="bank-head" th:include="fragments/logout :: logout"></div>
    <br>

    <form class="accounts" action="/accounts/openCreditAccount" method="post" th:object="${openAccountRequest}">
        <div class="form-group">
            <h2>Open credit account form</h2>
        </div>

        <div class="form-group">
            <label for="loan">Amount of needed loan</label>
            <input id="loan" name="loanBody" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Interest rate</label>
            <p>Interest rate is fixed and equals 10% per some seconds...</p>
        </div>

        <div class="form-group" th:if="${#fields.hasErrors('loanBody')}">
            Loan amount should be more than zero
        </div>

        <button type="submit" class="btn btn-outline-primary">To take the loan</button>
    </form>

    <br>
    <br>
    <a th:href="@{'/accounts/'}">Go back to accounts list</a>

</div>

</body>
</html>