<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>


</head>
<body>

<div class="content">
    <form class="wc-form wc-middle" action="/registration" method="post" th:object="${request}">
        <div class="form-group">
            <h2>Registration</h2>
        </div>

        <div class="form-group">
            <label for="login">Login</label>
            <input id="login" name="login" class="form-control" th:value="${request.login}"/>
        </div>

        <div class="form-group">
            <label for="password1">Password</label>
            <input id="password1" type="password" name="password1" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="password2">Password one more time</label>
            <input id="password2" type="password" name="password2" class="form-control"/>
        </div>


        <div class="form-group">
            <label for="first_name">First name</label>
            <input id="first_name" name="name" class="form-control" th:value="${request.name}"/>
        </div>

        <div class="form-group">
            <label for="last_name">Last name</label>
            <input id="last_name" name="lastName" class="form-control" th:value="${request.lastName}"/>
        </div>

        <div class="form-group">
            <label for="patronymic">Patronymic (if exists)</label>
            <input id="patronymic" name="patronymic" class="form-control" th:value="${request.patronymic}"/>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" name="phone" class="form-control" th:value="${request.phone}"/>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" class="form-control" th:value="${request.email}"/>
        </div>

        <div class="form-group" th:if="${#fields.hasErrors('login')}">
            We are sorry, but this login has already taken by somebody. Please try another one.
        </div>


        <button type="submit" class="btn btn-outline-primary">To register</button>
    </form>

</div>

</body>
</html>