<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>

    <script th:src="@{/lib/jquery-3.4.1.min.js}" src="../static/lib/jquery-3.4.1.min.js" ></script>
    <script th:src="@{/js/repaymentCreditAccount.js}" src="../static/js/repaymentCreditAccount.js" ></script>


</head>
<body>

<div class="content">
    <div class="bank-head" th:include="fragments/logout :: logout"></div>
    <br>

    <div>
        <h2>Repayment form</h2>
    </div>

    <h4 class="account_header" th:attr="account_id=${debitAccount.id}" th:text="@{'Account № ' + ${debitAccount.id}}"></h4>
    <br>
    <div id="account_container">
        <div>Balance: </div>
        <span id="account_balance" th:text="${debitAccount.balance}"></span>
    </div>
    <br>

    <div id="credit_account_container">
        <div
            id="credit_account"
            th:attr="creditAccountDetailsId=${creditAccountDetails.id}"
             >
            Credit account balance:
        </div>
        <span id="credit_account_balance" th:text="${creditAccountDetails.currentDept}"></span>
    </div>

    <br>
    <div>
        <label for="trasfer_amount">Amount</label>
        <input id="trasfer_amount" name="amount" class=""/>
        <button id="transfer_btn" type="submit" class="btn btn-outline-primary">To transfer</button>
    </div>

    <br>
    <a th:href="@{'/accounts/' + ${debitAccount.id}}">Go back to account menu</a>


</div>

</body>
</html>