<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>


</head>
<body>

<div class="content">
    <div class="bank-head" th:include="fragments/logout :: logout"></div>
    <br>
    <h2 th:account-id="${debitAccount.id}" th:text="@{'Account № ' + ${debitAccount.id}}"></h2>
    <br>
    <div th:text="@{'Balance: ' + ${debitAccount.balance}}"></div>
    <br>

    <form class="wc-form wc-middle" th:action="@{'/accounts/' + ${debitAccount.id} + '/transferToOtherUser'}" method="post" th:object="${transferForm}">
        <div class="form-group">
            <h2>Transfer form</h2>
        </div>

        <div class="form-group">
            <label for="receiver">Receiver</label>
            <input id="receiver" name="accountIdTo" class="form-control" th:value="${transferForm.accountIdTo}"/>
        </div>

        <div class="form-group">
            <label for="amount">Amount</label>
            <input id="amount" name="amount" class="form-control"/>
        </div>

        <div class="form-group" th:if="${#fields.hasErrors('accountIdFrom')}">
            Receiver should not be zero
        </div>

        <div class="form-group" th:if="${#fields.hasErrors('amount')}">
            Unfortunately you don't have enough money for this transfer
        </div>

        <button type="submit" class="btn btn-outline-primary">To transfer</button>
    </form>

    <a th:href="@{'/accounts/' + ${debitAccount.id}}">Go back to account menu</a>


</div>

</body>
</html>